hr{
    border-style:double;
    border-top-style:solid ;
    width:100%;
    border-color: grey;
}

img{
    height: 150px;
    width:150px;
    border-radius: 100%;
}

th,td,ul{
    padding: auto;
    text-align: left;
}

table{
    margin-top:20px;
    border-spacing: 15px;
}

.header{
    text-align: center;
}

.personal{
    margin-left: auto;
    margin-right: auto;
}

.Table_Heading{
    font-size: medium;
    font-weight: bolder;
    border-spacing: 15px;
}


